
<div class="home">
	<h1 class="home">Bem Vindo!!!</h1>
	<p class="home">
		Aqui você pode encontrar informações sobre Atletas e Modalidades das Olimpíadas Rio 2016!
	</p>
	<%= link_to "Novo Atleta", new_atleta_path, class: "btn btn-primary" %>
	<%= link_to "Nova Modalidade", new_modalidade_path, class: "btn btn-success" %>
</div>


